nav {
    padding-inline: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 8px;
    background-color: #FF6666;
}

nav img {
    width: 4rem;
}

nav a {
    transition: transform 0.2s ease;
}

nav a img {
    width: 8rem;
    height: 2.5rem;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.hero-section {
    padding-inline: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 16px;
}

.hero-section img, .text-section img {
    width: 18rem;
    height: 35rem;
    border-radius: 20px;
}

.text-section {
    margin-top: 32px;
    padding-inline: 64px;
    padding-block: 32px;
}

.text-section h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 32px;
}

.text-section div {
    display: flex;
    justify-content: space-around;
}

.text-section div p {
    color: #00000090;
    width: 50%;
    height: 34rem;
    padding-top: 2rem;
    font-size: 12.5px;
    overflow-y: scroll;
    scrollbar-width: none;
    box-shadow: inset 0px -6px 4px -2px rgba(0, 0, 0, 0.1);
    padding: 8px;
}

::-webkit-scrollbar {
    display: none;
  }

.text-section div ul {
    margin-left: 2rem;
}

.text-section div ul span {
    font-weight: 600;
}

footer {
    margin-top: 32px;
    padding-inline: 64px;
    padding-block: 32px;
    background-color: #ff666618;
    display: flex;
    justify-content: space-between;
}

footer div {
    width: 50%;
}

footer p {
    color: #00000090;
}

footer a {
    color: #00000090;
    text-decoration: underline;
}

footer span {
    font-weight: 600;
}

.copyright {
    color: #00000090;
    text-align: right;
}

nav a:hover {
    transform: translateY(5px);
}

.contact-section {
    padding-inline:128px;
    height: 80vh;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.contact-section h1 {
    color: #FF6666;
    font-size: 64px;
    margin-bottom: 32px;
}

.contact-section .about-olly {
    width: 100%;
    margin-bottom: 32px;
}

.contact-section p {
    color: #00000090;
}

.contact-section a {
    color: #00000090;
    text-decoration: underline;
    font-weight: bold;
}

.contact-section div {
    width: 50%;
}

/* -------------------------- media queries ------------------------- */

@media only screen and (min-width: 1600px) {
    .contact-section p {
        font-size: 28px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .contact-section p {
        font-size: 20px;
    }
}

@media only screen and (min-width : 1024px) and (max-width : 1200px) {
    .text-section div p {
        font-size: 14px;
    }
}

@media only screen and (max-width : 1024px) {
    .text-section div p, footer p {
        font-size: 10px;
    }

    .hero-section {
        padding-block: 64px;
    }

    .text-section img, .hero-section img {
        width: 15rem;
        height: 25rem;
    }

    .contact-section {
        padding-inline: 64px;
    }

    .contact-section h1 {
        font-size: 48px;
    }
}

@media only screen and (max-width : 768px) {
    .contact-section {
        padding-inline: 32px;
    }
    .text-section {
        padding-inline: 32px;
    }
}

@media only screen and (max-width : 600px) {
    .hero-section {
        flex-direction: column;
        row-gap: 16px;
        padding-block: 32px;
    }
    .hero-section img, .text-section img {
        height: 25rem;
    }

    .text-section h1 {
        margin-bottom: 16px;
    }

    .text-section div {
        flex-direction: column;
        row-gap: 16px;
        align-items: center;
    }

    .text-section div p {
        width: 100%;
    }

    footer {
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 16px;
    }

    footer div {
        width: 100%;
    }

    .contact-section {
        flex-direction: column;
        align-items: center;
        padding-inline: 64px;
        row-gap: 32px;
    }

    .contact-section h1 {
        text-align: center;
    }

    .contact-section div {
        width: 100%;
    }
}